@import '../../../../style/_constants'

// .loader-patientContent
.neurologist-exam__content
  margin: 0 !important
  display: grid
  grid-gap: 10px
  grid-template-rows: repeat(4, max-content )
  height: 100%
  overflow-y: auto
  overflow-x: auto
  .field
    display: grid
    width: 99%
    align-items: end
    grid-template-rows: repeat(2,max-content)
    border-bottom: 1px solid #a2a2a2 !important
    input
      height: 20px
      width: 140px
    span
      color: $second_color
      font-weight: bold
  .field-empty
    display: grid
    width: 99%
    height: 40px
    align-items: end
    border-bottom: 1px solid #a2a2a2 !important
    input
      width: 140px !important
      height: 30px
  .tickets
    display: grid
    align-items: baseline
    grid-template-rows: repeat(2,max-content )
    border-right: solid 2px $second_dark_color !important
    &__header
      display: grid
      grid-template-columns: repeat(2, max-content)
      grid-gap: 10px
      align-items: center
      width: max-content
      span
        color: $second_color
        font-weight: bold
      .ui.button
        padding: 5px !important
    &__content
      width: max-content
      .ui.grid
        width: max-content !important
        margin: 0 !important
        display: grid !important
        grid-template-columns: repeat(2, max-content )
        .stretched.column
          width: max-content !important
      .menu
        width: max-content !important
      .ticket-menuItem
        margin: 0 !important
        width: 150px
        display: grid !important
      .ticket-tabPane
        display: grid !important
        grid-template-rows: repeat(4,max-content)
        height: 300px
        grid-gap: 10px
        width: max-content !important
        word-wrap: break-word
        span
          width: 220px
          &:last-child
            height: 180px
            overflow-y: auto
  .analyzes
    display: grid
    grid-template-rows: repeat(2,max-content )
    align-items: baseline
    &__header
      display: grid
      grid-template-columns: repeat(2, max-content)
      grid-gap: 10px
      align-items: center
      width: max-content
      span
        color: $second_color
        font-weight: bold
      .ui.button
        padding: 5px !important
    &__content
      max-width: 480px
      max-height: 299px
      overflow-y: overlay
      .grid-row
        .grid-column
          width: max-content
          display: grid !important
          grid-template-rows: repeat(2,max-content)
          grid-gap: 5px
          span
            word-wrap: break-word
            &:first-child
              color: $second_color
              font-weight: bold
.tickets__header-modal__header
  text-align: center
  padding: 10px !important
  color: #fff !important
  background-color: $main_dark_color !important
.tickets__header-modal__content
  display: grid !important
  grid-gap: 10px
  grid-template-rows: repeat(2, max-content)
.newTicket-textarea
  min-width: 318px !important
  max-width: 318px !important
  min-height: 240px !important
  max-height: 240px !important
.analyzes__header-modal__header
  text-align: center
  padding: 10px !important
  color: #fff !important
  background-color: $main_dark_color !important
.analyzes__header-modal__content
  display: grid !important
  grid-gap: 10px
  grid-template-rows: repeat(2, max-content)
  input
    width: 150px !important
