.workspace-container
  /* display: grid; */
  position: absolute
  min-height: 100vh
  max-height: 100vh
  /* height: 100%; */
  padding: 40px 0 0 0
  bottom: 0px
  top: 0
  left: 0
  right: 0
  overflow: hidden
