@import '../../../style/_constants'

.loader-reportsContent

.reports-content
  height: 84vh
  display: grid
  grid-gap: 10px
  overflow-y: auto
  margin: 0 !important
  grid-template-rows: max-content 1fr
  h2
    text-align: center
    margin: 0 !important
  &__data
    display: grid
    grid-template-columns: max-content 1fr
    grid-gap: 10px
    .fields
      display: grid
      justify-content: center
      grid-gap: 10px
      grid-template-rows: repeat(10, max-content)
      .field
        display: grid
        grid-template-columns: repeat(2,max-content )
        grid-gap: 10px
        align-items: center
        h4
          margin: 0 !important
          color: $main_dark_color
          height: max-content
        span
          height: max-content !important
    .tab-chart
      margin-left: 10px
      height: max-content
      .item
        font-size: $mainSize
